$body-family: 'Source Sans Pro', sans-serif;
$header-family: 'Open Sans Condensed', sans-serif;
$source-code-family: 'Source Code Pro', monospace;

$body-color: #2d102c;
$link-color: #ff583d;

$body-background: #FFF; //#FEFCFC;
$bubble-background: #ffe9dc;

@function lines($n) {
	@return $n * 1rem * $line-height-base;
}

@mixin mBubble {
	display: inline-block;
	border-radius: 2px;
	background: $bubble-background;
	padding: lines(0.25) 1rem;
	margin-top: lines(0.5);
}

@mixin mJustifier {
	text-align: justify;
	&:after {
		content: ' ';
		display: inline-block;
		height: 0;
		width: 100%;
	}
}
